<!doctype html>
<html lang="es" ng-app="versionLog">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>versionLog aplicaciones MPDL</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
		<!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <span class="simple-text">
                    Versión Log
                </span>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="pe-7s-graph"></i>
                        <p>Home</p>
                    </a>
                </li>

				<li class="active-pro">
                    <a href="#">
                        <i class="pe-7s-rocket"></i>
                        <p>Reportar Error</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Escritorio</a>
                </div>

            </div>
        </nav>


        <div class="content"  ng-controller="proyectoController as proyectos">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Proyectos</h4>
                                <p class="category">de desarrollo software MPDL</p>
                            </div>
                            <div class="content">
                                <div id="chartPreferences" class="ct-chart ct-perfect-fourth">
																	<ul class="example-animate-container">
																	    <li class="animate-repeat" ng-repeat="proyecto in proyectos.listaProyectos.proyectos">
																	     <button class="btn-purple" ng-click="proyectos.getVersionesProyecto(proyecto._id)">{{proyecto.nombre}}.</button>
																	    </li>
																	    <li class="animate-repeat" ng-if="proyectos.listaProyectos.proyectos === 0">
																	      <strong>No hay proyectos...</strong>
																	    </li>
																	  </ul>
																</div>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Abierto
                                        <i class="fa fa-circle text-danger"></i> Cerrado
                                        <i class="fa fa-circle text-warning"></i> Pendiente
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> text
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card" >
                            <div class="header">
                                <h4 class="title">Versión</h4>
                                <p class="category">2...</p>
                            </div>
                            <div class="content">
                                <div id="chartHours" class="ct-chart">
																	<ul class="example-animate-container">
																			<li class="animate-repeat" ng-repeat="version in proyectos.listaVersionesProyecto.version">
																			 <button class="btn-purple" ng-click="proyectos.getModLogVersion(version._id)">
																				 {{version.numero}} - {{version.descripcion}}</button>
																			</li>
																			<li class="animate-repeat" ng-if="proyectos.listaVersionesProyecto.version === 0">
																				<strong>No hay versiones...</strong>
																			</li>
																		</ul>

																</div>
                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Abierto
                                        <i class="fa fa-circle text-warning"></i> Pendiente
																				<i class="fa fa-circle text-success"></i> Finalizado
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> datos
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12">
                        <div class="card"  >
                            <div class="header">
                                <h4 class="title">Log de Modificaciones</h4>
                                <p class="category">...</p>
                            </div>
                            <div class="content">
                                <div id="chartActivity" class="ct-chart">
																	<ul class="example-animate-container">
																	    <li class="animate-repeat" ng-repeat="modLog in proyectos.listaModLogVersiones.modlogs">
																	     {{modLog.nombre}}.
																	    </li>
																	    <li class="animate-repeat" ng-if="proyectos.listaModLogVersiones.modlogs === 0">
																	      <strong>No hay proyectos...</strong>
																	    </li>
																	  </ul>

																</div>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Abierto
                                        <i class="fa fa-circle text-warning"></i> En proceso
																				<i class="fa fa-circle text-success"></i> Finalizado

                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-check"></i> Datos
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2017 , versionLogs de aplicaciones MPDL
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

	<!--Angular Files -->
	<script src="src/lib/angular.js" type="text/javascript"></script>
	<script src="src/lib/angular-ui-router.js" type="text/javascript"></script>
	<!--Angular Modulos -->
	<script src="src/modules/versionLog.module.js" type="text/javascript"></script>
	<!--Angular Controladores y rutas -->
	<script src="src/controllers/proyectos.controller.js" type="text/javascript"></script>
	<script src="src/routes/versionLog.routes.js" type="text/javascript"></script>
  <!--   Core JS Files   -->
  <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>
	<!--  Charts Plugin -->
	<script src="assets/js/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="assets/js/bootstrap-notify.js"></script>
  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="assets/js/light-bootstrap-dashboard.js"></script>



</html>
