<div class="content">
    <div class="container-fluid">
                  <!-- Ver Bugs  -->
                      <div class="row" ng-show="bugC.showListaBugs">
                          <div class="col-md-12">
                                  <div class="header">
                                    <div class="card"  >
                                      <h4 class="title ">Listado de Incidencias</h4>
                                      <div class="legend pull-right">
                                          <i class="fa fa-circle text-primary"></i> Abierta
                                          <i class="fa fa-circle text-success"></i> Finalizada
                                      </div>

                                  <div class="content">
                                    <table class="table table-hover table-striped">
                                      <thead>
                                        <tr><th>Nº de Bug</th><th>Concepto</th><th>Estado</th></th><th>Aplicacion</th><th>Modulo</th><th>Edit</th></tr></thead>
                                        <tbody>
                                          <tr>
                                            <th>N</th>
                                            <th>C</th>
                                            <th><input type="text" ng-model="Bugs.estado.nombre"></th>
                                            <th><input type="text" ng-model="Bugs.proyecto.nombre"></th>
                                            <th>M</th>
                                          </tr>
                                          <tr ng-repeat="Bugs in bugC.listaBugs.bugs | filter : Bugs.proyecto.nombre | filter : Bugs.estado.nombre ">
                                            <td class="diezpp">{{$index+1}} #{{Bugs.ref}}</td>
                                            <td>{{Bugs.concepto}}</td>
                                            <td>
                                              <div class="activa" ng-show="Bugs.estado._id == '58b010fc66c2123fc13cc95b'">
                                                  <i class="fa fa-circle text-primary"></i> Abierta
                                              </div>
                                              <div class="pendiente" ng-show="Bugs.estado._id == '58b0110866c2123fc13cc95c'">
                                                  <i class="fa fa-circle text-warning"></i> En preparación
                                              </div>
                                              <div class="cerrado" ng-show="Bugs.estado._id == '58b0111066c2123fc13cc95d'">
                                                  <i class="fa fa-circle text-success"></i> Finalizada
                                              </div>
                                                 <!-- {{version.estado}} -->
                                            </td>
                                            <td>
                                               {{Bugs.proyecto.nombre}}
                                            </td>
                                            <td>
                                            <span ng-show="Bugs.modulo.tipo==='C'">Contabilidad</span>
                                            <span ng-show="Bugs.modulo.tipo==='N'">Nominas</span>
                                            <span ng-show="Bugs.modulo.tipo==='P'">Proyectos</span>
                                            <span ng-show="Bugs.modulo.tipo==='O'">Otros</span>
                                            </td>
                                            <td>
                                              <a ng-click="bugC.getBugEdit(Bugs._id)"><i class="pe-7s-edit" ></i></a>
                                            </td>
                                          </tr>
                                        </tbody>
                                       </table>
                                       <table>
                                          <tr>
                                            <td>
                                              <!-- <button class="btn btn-warning" ng-click="bugC.backModLogVersion()">Atras</button> -->
                                              <button class="btn btn-info" ng-show="bugC.showAbiertos" ng-click="bugC.getBugsAbiertos(bugC.bugsPage)">Abiertos</button>
                                              <button class="btn btn-info" ng-show="bugC.showTodos" ng-click="bugC.getBugs(bugC.bugsPage)">Todos</button>
                                              <button class="btn btn-warning"
                                              ng-show="bugC.bugsPage>1"
                                              ng-click="bugC.getBugs(bugC.bugsPage-1)">Anterior</button>
                                              <button class="btn btn-warning"
                                              ng-show="bugC.showMore"
                                              ng-click="bugC.getBugs(bugC.bugsPage+1)">Siguiente</button>
                                              <button class="btn btn-success" ng-click="bugC.nuevoBug()">Crear nuevo Bug.</button>
                                            </td>
                                          </tr>
                                      </table>
                                  </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <!--ver bugs-->



                      <!-- Crear Bug -->
                      <div class="row" ng-show="bugC.showCreaBug">
                      <div class="col-md-12">
                      <div class="card-nh">
                      <div class="header">
                      <h4 class="title">Crear Incidencia</h4>
                      </div>
                      <div class="content">
                      <form>


                      <div class="row" >

                      <div class="col-md-3">
                            <div class="form-group">
                                    <label>Aplicacion</label>
                                    <select ng-model="bugC.appSeleccionada" class="form-control" placeholder="Aplicacion">
                                      <option ng-selected="{{operator.value == filterCondition.operator}}"
                                              ng-repeat="App in bugC.listaApps.proyectos"
                                              value="{{App._id}}">
                                        {{App.nombre}}
                                      </option>
                                    </select>

                            </div>
                      </div>
                      <div class="col-md-3">
                            <div class="form-group">
                                    <label>Estado</label>
                                    <select ng-model="bugC.creaBug.estado" class="form-control" placeholder="Estado">
                                      <option  ng-selected="true"  value='A'>Abierta</option>
                                      <option  value='F'>Finalizado</option>

                                    </select>
                            </div>
                      </div>
                      <div class="col-md-3">
                            <div class="form-group">
                                    <label>Modulo</label>
                                    <select ng-model="bugC.creaBug.modulo" class="form-control" placeholder="Modulo">
                                      <option  value='C'>Contabilidad</option>
                                      <option  value='N'>Nominas</option>
                                      <option  value='P'>Proyectos</option>
                                      <option selected  value='O' >Otro</option>
                                    </select>
                      </div>
                      </div>
                      <div class="col-md-3">
                            <div class="form-group">
                                    <label>Referencia</label>
                                    <input  ng-model="bugC.creaBug.ref" type="text" class="form-control" placeholder="Referencia">
                            </div>
                      </div>
                      <div class="col-md-3">
                            <div class="form-group">
                                    <label>Usuario</label>
                                    <input  ng-model="bugC.creaBug.usuario" type="text" class="form-control" placeholder="Usuario">
                            </div>
                      </div>
                      <div class="col-md-3">
                            <div class="form-group">
                                    <label>Pantalla</label>
                                    <input  ng-model="bugC.creaBug.pantalla" type="text" class="form-control" placeholder="Pantalla">
                            </div>
                      </div>
                      <div class="col-md-3">
                            <div class="form-group">
                                    <label>Rejilla</label>
                                    <input  ng-model="bugC.creaBug.rejilla" type="text" class="form-control" placeholder="Rejilla">
                            </div>
                      </div>
                      <div class="col-md-3">
                            <div class="form-group">
                                    <label>Proceso</label>
                                    <input  ng-model="bugC.creaBug.proceso" type="text" class="form-control" placeholder="Proceso">
                            </div>
                      </div>
                      <div class="col-md-12">
                            <div class="form-group">
                                    <label>Concepto</label>
                                    <input ng-model="bugC.creaBug.concepto" rows="5" class="form-control" placeholder="Escribe un concepto para la incidencia">
                            </div>
                      </div>
                      <div class="col-md-12">
                            <div class="form-group">
                                    <label>Descripcion</label>
                                    <textarea ng-model="bugC.creaBug.descripcion" rows="5" class="form-control" placeholder="Escribe aqui la descripcion de la incidencia">
                                    </textarea>
                            </div>
                      </div>
                      </div>
                      <button class="btn btn-warning" ng-click="bugC.backBugCrear()">Atras</button>
                      <button ng-click="bugC.creaBug()" type="submit" class="btn btn-info btn-fill pull-right">Crear</button>
                      <div class="clearfix"></div>
                      </form>
                      </div>
                      </div>
                      </div>
                    </div>
                    <!--crea bug-->
                    <!--edit bug-->
                    <div class="row" ng-show="bugC.showEditBug">
                     <div class="col-md-12">
                      <div class="card-nh">
                       <div class="header">
                        <h4 class="title">Editar Incidencia</h4>
                       </div>
                       <div class="content">
                         <form>


                         <div class="row" >

                         <div class="col-md-3">
                               <div class="form-group">
                                       <label>Aplicacion</label>
                                       <input readonly ng-model="bugC.editBug.proyecto.nombre" class="form-control" placeholder="Aplicacion">
                                 </div>
                         </div>
                         <div class="col-md-3">
                               <div class="form-group">
                                       <label>Estado</label>
                                       <select ng-model="bugC.editBug.estado" class="form-control" placeholder="Estado">
                                         <option  value='A' ng-selected='bugC.editBug.estado.tipo==="A"'>Abierta</option>
                                         <option  value='F' ng-selected='bugC.editBug.estado.tipo==="F"'>Finalizado</option>

                                       </select>
                               </div>
                         </div>
                         <div class="col-md-3">
                               <div class="form-group">
                                       <label>Modulo</label>
                                       <select ng-model="bugC.editBug.modulo" class="form-control" placeholder="Modulo">
                                         <option  value='C' ng-selected='bugC.editBug.modulo.tipo==="C"'>Contabilidad</option>
                                         <option  value='N' ng-selected='bugC.editBug.modulo.tipo==="N"'>Nominas</option>
                                         <option  value='P' ng-selected='bugC.editBug.modulo.tipo==="P"'>Proyectos</option>
                                         <option  value='O' ng-selected='bugC.editBug.modulo.tipo==="O"'>Otro</option>
                                       </select>
                         </div>
                         </div>
                         <div class="col-md-3">
                               <div class="form-group">
                                       <label>Referencia</label>
                                       <input  ng-model="bugC.editBug.ref" type="text" class="form-control" placeholder="Referencia">
                               </div>
                         </div>
                         <div class="col-md-3">
                               <div class="form-group">
                                       <label>Usuario</label>
                                       <input  ng-model="bugC.editBug.usuario" type="text" class="form-control" placeholder="Usuario">
                               </div>
                         </div>
                         <div class="col-md-3">
                               <div class="form-group">
                                       <label>Pantalla</label>
                                       <input  ng-model="bugC.editBug.pantalla" type="text" class="form-control" placeholder="Pantalla">
                               </div>
                         </div>
                         <div class="col-md-3">
                               <div class="form-group">
                                       <label>Rejilla</label>
                                       <input  ng-model="bugC.editBug.rejilla" type="text" class="form-control" placeholder="Rejilla">
                               </div>
                         </div>
                         <div class="col-md-3">
                               <div class="form-group">
                                       <label>Proceso</label>
                                       <input  ng-model="bugC.editBug.proceso" type="text" class="form-control" placeholder="Prpceso">
                               </div>
                         </div>
                         <div class="col-md-12">
                               <div class="form-group">
                                       <label>Concepto</label>
                                       <input ng-model="bugC.editBug.concepto" rows="5" class="form-control" placeholder="Escribe un concepto para la incidencia">
                               </div>
                         </div>
                         <div class="col-md-12">
                               <div class="form-group">
                                       <label>Descripcion</label>
                                       <textarea ng-model="bugC.editBug.descripcion" rows="5" class="form-control" placeholder="Escribe aqui la descripcion de la incidencia">
                                       </textarea>
                               </div>
                         </div>
                         <div class="col-md-12">
                               <div class="form-group">
                                       <label>Resolución</label>
                                       <textarea ng-model="bugC.editBug.resolucion" rows="5" class="form-control" placeholder="Escribe aqui la resolucion de la incidencia">
                                       </textarea>
                               </div>
                         </div>
                         </div>
                    <button ng-click="bugC.deleteBug(bugC.editBug._id)" type="submit" class="btn btn-danger btn-fill pull-left">Eliminar</button>
                    <button ng-click="bugC.crearModLog(bugC.editBug)" type="submit" class="btn btn-info btn-fill pull-right">Crear ModLog</button>
                    <button ng-click="bugC.actualizarBug(bugC.editBug._id)" type="submit" class="btn btn-success btn-fill pull-right">Actualizar</button>
                    <button class="btn btn-warning pull-right" ng-click="bugC.backBugEdit()">Atras</button>
                    <div class="clearfix"></div>
                    </form>
                    </div>
                    </div>
                    </div>
                  </div>
                  <!--edit bug-->


    </div>
</div>
